@import 'variables.scss';

.brands {
  letter-spacing: -0.2px;
  overflow: hidden;
  margin-bottom: 8px;

  & .swiper {
    &::before {
      @include gradient;
      height: 80px;
    }
  }

  &__card {
    height: 72px;

    &::after {
      content: '';
      background: url(../img/go.svg) no-repeat;
      width: 40px;
      height: 40px;
    }
  }

  &__btn {
    display: none;
  }
}

// Экраны шире 768px
@media screen and (min-width: 768px) {
  .brands {
    & .swiper {
      &::before {
        display: none;
      }
    }

    &__swiper {
      width: auto;
      overflow: hidden;
      height: 160px;
      margin: 24px 0;
      padding: 0 24px;

      &-pagination {
        display: none;
      }

      &.-non-slider {
        & .swiper-wrapper {
          transform: inherit !important;
          display: grid;
          grid-template-columns: repeat(3, minmax(224px, 1fr));
          gap: 16px 24px;
        }

        & .swiper-slide {
          width: inherit !important;
        }

        & .swiper-slide-duplicate {
          display: none;
        }
      }
    }

    &__btn {
      display: flex;
      margin: 0 24px;
    }
  }
}

// Экраны шире 1440px
@media screen and (min-width: 1440px) {
  .brands {
    &__swiper {
      padding: 0 32px;
      &.-non-slider .swiper-wrapper {
        grid-template-columns: repeat(4, minmax(240px, 1fr));
        column-gap: 32px;
      }
    }

    &__btn {
      margin: 0 32px 32px;
    }
  }
}

/* Стили после нажатия кнопки "Показать все" */
.show .brands__swiper {
  height: auto;
  overflow: visible;
  margin-bottom: 46px;
}
