.btn-show {
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: transform 0.3s;

  &::before {
    content: '';
    background: url(../img/arrows.svg) no-repeat;
    margin-right: 8px;
    width: 24px;
    height: 24px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

/* Стили после нажатия кнопки "Показать все" */
.show .btn-show {
  &::before {
    rotate: 180deg;
  }
}
