.card {
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  font-size: 14px;

  &__item--term {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 228px;
  }

  &__title {
    line-height: 16px;
    color: $font-color-gray;
    margin-bottom: 4px;
  }

  &__description {
    line-height: 18px;
  }

  &__btn {
    border-radius: 16px;
    background-color: $pink-color;
    color: $white-color;
    line-height: 24px;
    font-size: 12px;
    letter-spacing: -0.15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 4px 8px 4px 12px;
    display: flex;
    transition: 0.2s ease-in-out;

    &::after {
      content: '';
      background: url(../img/arrow_more_white.svg);
      margin-left: 8px;
      width: 24px;
      height: 24px;
    }

    &:hover {
      box-shadow: 0 0 15px $pink-color;
    }
  }
}

// Экраны шире 768px
@media screen and (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: center;
    transition: 0.2s linear;

    &__title {
      display: none;
    }

    &__item {
      &--services {
        flex-basis: 348px;
        flex-grow: 1;
      }

      &--price {
        flex-basis: 74px;
        flex-grow: 1;
      }

      &--term {
        flex-basis: 220px;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
      }
    }

    &:hover {
      font-weight: 500;
    }
  }
}
