* {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  max-width: 1700px;
  margin: auto;
  font-family: 'TT Lakes', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 0;
  color: $font-color-black;
}

:root {
  --swiper-theme-color: $font-color-black;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
  font-size: inherit;
}

textarea {
  font-family: inherit;
  font-size: inherit;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.content {
  background-color: $light-gray-color;
}

.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}

.substrate {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: $white-color, $alpha: 0.9);
  position: fixed;
  z-index: 10;
  display: none;
}

.show__substrate {
  display: block;
}

.visually-hidden {
  line-height: 0;
  font-size: 0;
  color: transparent;
}

// Экраны шире 1440px
@media screen and (min-width: 1440px) {
  .container {
    display: flex;
  }
}
