.icon {
  width: 40px;
  height: 40px;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }

  &--menu {
    background-image: url(../img/icon_menu.svg);
  }

  &--phone {
    background-image: url(../img/icon_phone.svg);
    display: none;

    &--show {
      background-image: url(../img/icon_phone.svg);
      display: block;
    }
  }

  &--chat {
    background-image: url(../img/icon_chat.svg);
    display: none;

    &--show {
      background-image: url(../img/icon_chat.svg);
      display: block;
    }
  }

  &--profile {
    background-image: url(../img/icon_profile.svg);
    display: none;

    &--show {
      background-image: url(../img/icon_profile.svg);
      display: block;
    }
  }

  &--settings {
    background-image: url(../img/icon_settings.svg);
  }

  &--checkstatus {
    background-image: url(../img/icon_checkstatus.svg);
  }

  &--close {
    background-image: url(../img/icon_close.svg);
  }

  &--search {
    background-image: url(../img/icon_search.svg);
    margin-left: auto;
  }
}

// Экраны шире 768px
@media screen and (min-width: 768px) {
  .icon {
    &--phone {
      display: block;
    }

    &--chat {
      display: block;
    }

    &--profile {
      display: block;
    }
  }
}

// Экраны шире 1440px
@media screen and (min-width: 1440px) {
  .icon {
    &--close--hide {
      display: none;
    }
  }
}
