.price {
  overflow: hidden;
  margin-bottom: 40px;

  & .swiper {
    &::before {
      @include gradient;
      height: 200px;
    }
  }

  &__head {
    display: none;
  }

  &__card {
    height: 200px;
  }

  &__text {
    line-height: 20px;
    letter-spacing: 0.2px;
    font-size: 14px;
    margin: 0 16px 16px;
  }

  &__btn {
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    font-size: 16px;
    margin: 0 16px;
    text-align: left;

    &-arrow {
      display: inline;
      vertical-align: middle;
    }
  }
}

// Экраны шире 768px
@media screen and (min-width: 768px) {
  .price {
    & .swiper {
      &::before {
        display: none;
      }
    }

    &__title {
      margin-bottom: 16px;
    }

    &__head {
      display: flex;
      justify-content: space-between;
      gap: 22px;
      font-size: 14px;
      line-height: 16px;
      color: $font-color-gray;
      align-items: center;
      height: 48px;
      margin: 0 24px;
      padding: 0 16px;
    }

    &__head-col {
      &--services {
        flex-basis: 348px;
        flex-grow: 1;
      }

      &--price {
        flex-basis: 74px;
        flex-grow: 1;
      }

      &--term {
        flex-basis: 220px;
        flex-grow: 1;
      }
    }

    &__swiper {
      height: auto;
      margin: 0 24px 24px;
      padding: 0;

      &-pagination {
        display: none;
      }

      &.-non-slider {
        & .swiper-wrapper {
          transform: inherit !important;
          display: grid;
          border-radius: 6px;
          background-color: $white-color;
          padding: 0 16px;
          box-sizing: border-box;
        }

        & .swiper-slide {
          width: 100% !important;
          height: 64px;
          border: none;
          border-radius: 0px;
          background-color: transparent;
          padding: 0;
          border-bottom: 1px solid $border-gray-color;
          box-sizing: content-box;

          &:last-child {
            border: none;
          }
        }

        & .swiper-slide-duplicate {
          display: none;
        }
      }
    }

    &__text {
      width: 420px;
      margin: 0 24px 16px;
    }

    &__btn {
      margin: 0 24px;
    }
  }
}
