@import 'swiper.scss';
@import 'fonts.scss';
@import 'globals.scss';
@import 'variables.scss';
@import 'mixin.scss';
@import 'btn-show.scss';
@import 'title.scss';

@import 'header.scss';
@import 'icon.scss';
@import 'logo.scss';
@import 'services.scss';
@import 'navigation.scss';

@import 'brands.scss';
@import 'techTypes.scss';
@import 'price.scss';
@import 'card.scss';
@import 'footer.scss';

@import 'burger-menu.scss';
@import 'popup.scss';
