@import 'variables.scss';

.swiper {
  margin-top: 16px;
  padding: 0 16px 44px;

  &-slide {
    padding: 16px;
    border: 1px solid $border-gray-color;
    border-radius: 6px;
    background-color: $white-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
  }

  &-pagination {
    margin-bottom: 8px;

    &-bullet {
      height: 12px;
      width: 12px;
      background-color: #dddddd;

      &-active {
        background-color: #b5b6bc;
      }
    }
  }
}

// Экраны шире 768px
@media screen and (min-width: 768px) {
  .swiper {
    width: auto;
    overflow: hidden;
    height: 160px;
    margin: 24px 0;

    &-pagination {
      display: none;
    }

    &.-non-slider {
      & .swiper-wrapper {
        transform: inherit !important;
        display: grid;
        grid-template-columns: repeat(3, minmax(224px, 1fr));
        gap: 16px 24px;
      }

      & .swiper-slide {
        width: inherit !important;
      }

      & .swiper-slide-duplicate {
        display: none;
      }
    }
  }

  &__btn {
    display: flex;
    margin: 0 24px;
  }
}

// Экраны шире 1440px
@media screen and (min-width: 1440px) {
  .swiper.-non-slider .swiper-wrapper {
    grid-template-columns: repeat(4, minmax(240px, 1fr));
    column-gap: 32px;
  }
}
