.techTypes {
  letter-spacing: -0.2px;
  overflow: hidden;
  margin-bottom: 8px;

  &__card {
    height: 160px;
    flex-direction: column;
    font-weight: 500;
    align-items: start;
    line-height: 24px;

    &::after {
      content: '';
      background: url(../img/go.svg) no-repeat;
      width: 40px;
      height: 40px;
      align-self: end;
    }
  }

  &__btn {
    display: none;
  }
}

// Экраны шире 768px
@media screen and (min-width: 768px) {
  .techTypes {
    &__swiper {
      padding: 0 24px;
    }

    &__btn {
      display: flex;
      margin: 0 24px;
    }
  }

  /* Стили после нажатия кнопки "Показать все" */
  .show .techTypes__swiper {
    height: auto;
    overflow: visible;
    margin-bottom: 46px;
  }
}

// Экраны шире 1440px
@media screen and (min-width: 1440px) {
  .techTypes {
    &__swiper {
      padding: 0 32px;
    }

    &__btn {
      padding-bottom: 34px;
    }
  }
}
